section.about
  padding: 15px

  .container
    display: flex
    align-items: flex-start
    justify-content: space-between

    @media( max-width: 960px )
      flex-direction: column-reverse

    figure.img-group
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      flex-direction: row
      @media( max-width: 960px )
        flex-direction: column
      img
        width: 100%
        &.normal
          flex: none

    .text
      padding: 15px
      width: 100%

      h2
        font:
          family: 'Impact'
          size: 58px
        color: $coal
        margin-bottom: 15px
      p
        color: $coal
        font:
          family: 'Lato'
          size: 18px
        text-align: justify

      a
        margin-top: 15px
        display: inline-block
        background-color: $red
        color: $white
        padding: 10px 10px 10px 60px
        font:
          family: 'Lato'
          size: 24px
        position: relative
        text-decoration: none
        text-transform: uppercase

        &:before
          content: ''
          position: absolute
          top: 0
          left: 0
          background-color: rgba($coal,0.9)
          padding: 28px 0px 26px 0px
          transition: all 0.1s linear

        &:hover
          &:before
            padding: 28px 50px 26px 0px

    figure
      width: 100%
      img
        max-width: 100%
